<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="xxx.css" rel="stylesheet">
<title>タイトル</title>
</head>
<body>
<h1>ユーザ登録</h1>
<form action="exam04-result.html" th:action="@{/ex04/exam04-result}" method="post" th:object="${userForm}">
	名前：<input type="text" name="name" th:field="*{name}"><br>
	年齢：<input type="text" name="age" th:field="*{age}">
	コメント：<br>
	<textarea name="comment" th:field="*{comment}"></textarea><br>
	<button>登録</button>
</form>
</body>
</html>